body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

header {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.left-nav, .right-nav {
    flex-basis: 100px; /* Adjust this value as needed */
}

.title-link, .home-link, .about-link {
    color: #ffffff;
    text-decoration: none;
}

.title-link:hover, .home-link:hover, .about-link:hover {
    text-decoration: underline;
    color: #bb86fc;
}

.home-link, .about-link {
    font-size: 0.9em;
}

nav {
    display: flex;
    align-items: center;
}

.back-link {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    display: block;
    margin-top: 0.5em;
}

#gallery {
    padding: 2rem;
}

.sketch-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.sketch-link {
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    text-decoration: none;
    color: #e0e0e0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sketch-link:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
}

.sketch-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.sketch-page article {
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 2rem;
}

.sketch-page h2 {
    color: #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.sketch-container {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2e2e;
    border-radius: 8px;
    padding: 1rem;
}

.introduction, .explanation, .conclusion {
    margin-bottom: 2rem;
}

#sketch-container {
    margin-bottom: 2rem;
}

.sketch-description {
    max-width: 800px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 2rem;
}

.about-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-top: 2rem;
}

/* Styles for KaTeX equations */
.katex {
    color: #e0e0e0;
}